%header.site-header.push
  %img{ src: image_path('header-img.jpg') }/
  %a.menu-link
    .iconlink.push{href: "#"}
      .buton-line
      .buton-line
      .buton-line
    %p.nav.push table of contents
  %nav#menu.panel{role: "navigation"}
    %ul
      {% for post in site.posts %}
      %li
        %a{href: "\#"}
      {% endfor %}
  .title-general
    .log
      %span.icon-book
    %span.icon-nrlogo
    %p Playbook
  .presentation
    %p
      What to expect?
      %br/
      Will we work well together?
      %br/
      Are we the right team for you?
  :javascript
    $(document).ready(function() {
      $('.menu-link').bigSlide();
    });
.container
  .chapter
    %h2 welcome
    %p
      We’re Neon Roots. This is our playbook. It should give you an idea of what we’re all about, what we do, and what you’re in for. This document isn’t chiseled in stone. It grows as we grow. It’s been dictated by our past experiences, and it will transform with future ones.
    %p
      We want to make things simple for you. If you already have experience working with developers and are familiar with product development and/or lean startup principles, you might already know a lot of this, but we think you’ll see that we do things a little differently at Neon Roots. If you’re coming in blind with no tech knowledge at all, this playbook should serve as a helpful resource.
  .chapter
    %h2 who are neon roots?
    %p
      We’re a full-service custom design and development shop specializing in responsive web/mobile solutions and custom applications.  We’re dual-headquartered in Los Angeles and Montevideo, UY, and we take on projects that inspire us, challenge our team, and push us to innovate.  We produce solutions, but most of all we create.
  .chapter
    %h2 your developer team
    %p
      Each team working on your product is a full-stack team consisting of engineers and designers, all working together. We believe in pair programming because having a developer to back you up always makes things more productive.  We’ve taken out the guesswork and have our process down to a science. How? Every project is broken into features/user stories or a product backlog.
      Each user story is assigned points based on the effort involved. Story points are not just “educated guesses” or numbers we pull out of the air. They are based on the actual velocity of our previous work on other projects. With burndown charts, we’re able to accurately measure how much we can get done in a given sprint.
    %img{ src: image_path('teamsquad.png')}/
    %h3 Your Team is Dedicated
    %p
      Your team is your team. Our resources don’t work on multiple projects and we don’t switch resources around. You will be working with them through the entire lifecycle of your product.
    %h3 Communication
    .quote
      %h3 Stand-Ups
      %p
        Stand-ups between scrum master and the product team take place on a daily basis. These usually run about 30 minutes. As a product owner, you’re more than welcome to attend, but it’s not mandatory. We’ll keep you up-to-date by posting on Trello and of course you can always catch up on the conversation in your Hipchat project room.
    .quote
      %h3 HipChat
      %p Hipchat is your new best friend.  Our entire product team will use it every day to communicate, collaborate, and discuss project details in your project room.  Please download the desktop client and native one for your smartphone.
      %img{ src: image_path('hipchat.jpg')}/
    .quote
      %h3 E-mails
      %p
        We try to avoid clutter and things falling through the cracks, that why we take advantage of tools like HipChat and Trello.
      %img{ src: image_path('trello.jpg')}/
    .quote
      %h3 Meetings
      %p
        We recommend that product owners attend demo/planning meetings that are usually held once a week using Google Hangout.  Typically, we timebox them to about 1 hour.  It’s a great tool for working remote.  We discuss this in greater detail in our agile scrum book. (link) Unfortunately we can’t do impromptu meetings.  Sorry.  If you want to meet in-person we need at least 72 hrs notice.  If you want to call to discuss anything related to the project outside the scope of the process and deliverables we need about 48 hrs notice.
    .quote
      %h3 Calls
      %p
        We also can’t do impromptu calls.  Communication is critical in development, and you have a direct line to the team every single day.  We know that as a product owner, you’re always feeling pressured, under the gun, or influenced by others/advisors/lawyers or any number of things.  If you feel something is seriously wrong with the development process on your project, we’re more than happy to schedule a call.  As product heads of the company, we don’t bill for our time, and that’s why we like to be as efficient as possible.
  .chapter
    %h2 What we do (and what we don't)
    %h3 IT Support / Analytics / Domain Set-up
    %p
      We’re more of a product development shop, than an IT systems support center. If you want to us to do something like create a Google apps account for you, we can definitely do it. Just keep in mind that it will count as a story card and eat up time and money against development.  It’s probably not the best use of our time, but that said, we will make sure everything on the server side and database is covered.
    %img{ src: image_path('angry.jpg')}/
    %h3 SEO / Marketing
    %p
      We have professionals certified in both Google Adwords and Analytics. Please let us know if you are looking for help with PPC management or other online marketing activities offline. We’ve got an in-house team dedicated to just content, delivering the right messaging through targeted SEO blogging that is both keyword rich and fun for your visitors to read, and of course social media management for all our products. After all, we’re #1 on google for ‘los angeles mobile app development.’ We must be doing something right.
    %img{ src: image_path('googlesearch.jpg')}/
    %p
      For more information on our process and how we apply it to our own products, please visiting our published eBook titled the
      %a{href: "http://www.neonroots.com/books/seo"} Digital Marketing Starters Guide.
    %h3 Spec work / pre-sell
    %p This isn’t something we do. Sorry.
    %h3 Advisor Roles / Capacity
    %p
      We’ve done this from time to time in the past. We know you need to do whatever it takes to get financing. So if you need to say we’re on the team, we understand that.
    %h3 Vetting Internal Hires
    %p
      We recognize that at some point it will be most efficient for you and your company to hire internally. We are happy to discuss an engagement where we can vet team members for your product and/or train them after your MVP release with us. Our relationships are all ongoing and span the globe, many have acted as advisors on various funded start-ups and Venture Capital firms.
    %h3 Deadline and Projected Release/Launch Dates
    %p
      We prefer to under-promise and over-deliver. Estimated delivery dates are just that: estimates.  An architect doesn’t know how long it will take to design and build your house without scoping the project, drafting plans, speaking with engineers, specifying materials, etc. That said, our formula is fairly accurate.
    %h3 Equity
    %p
      A smart product owner who truly believes in his or her idea will want to retain as much ownership as possible. That said, we know that raising cash is easier said than done. We do invest and subsidize in a handful of deals each year with cash/equity splits, but it takes two to tango.
    %p
      We’re confident that we can launch your product to market. But do you have what it takes to operate and market it? Also, assuming we will be your technical partner, we also want to make sure there is a cultural fit and our teams mesh.  Typically, we invest and/or subsidize costs after an initial MVP release (v1.0). It’s the best way for you, as a product owner, to make sure we’re the right team and the same goes for us.
    %h3 RFPs – Fixed Bid
    %p
      We don’t think RFPs work when looking for a development shop, so fixed bids aren’t something that we do.  RFPs only work when you’re looking for bids on a commodity, and professional services are not a commodity.

    %p
      Design is a collaboration and RFPs undercut the communication between you and your developers which could ultimately lead to the failure of your product.  A fixed bid means a fixed feature set that doesn’t allow for the natural evolution of a product that is vital for its success. With RFPs you’re only looking for the cheapest bid and exact times frames, not for a partnership, and that’s what successful product development is all about.  You can read what we really think about fixed bids in our blog
      %a{href: "http://blog.neonroots.com/the-bs-of-rfps-why-it-wont-help-your-search-for-an-la-development-shop/"} “The BS of RFPs: Why It Won’t Help Your Search for an LA Development Shop.”
    %h3 Non-Disclosure Agreements
    %p
      We don’t sign them because ideas are ideas. We’re pitched a tremendous number of them and if you feel that an NDA is what’s keeping us from working together for fear that we might steal your idea – we’re probably not the right team for you. What we’re willing to do is have a high-level discussion on our initial call and table any specifics or novel ideas. If we decide to engage, we’re happy to put a non-disclosure in place and this standard with all our engagement contracts, both with Rootstrap and Development with Neon Roots.
  .chapter
    %h2 Product owners
    %p
      We only work with receptive product owners.  Your degree and/or your exit(s) don’t necessarily matter to us.  We just want you to be passionate about your idea and know that it is going to be a long road to success.  But if you’re willing to listen, we will put you on the right path.  After years of consulting we’ve found that a receptive, enterprising product owner who understands running lean, releasing early, and letting data dictate decisions will have a much greater chance of success.
    %p
      When you engage with us, you’re not engaging with a typical agency.  It requires a certain level of trust and respect on both sides.  We intend to treat you as more than just a client and we expect to be treated as more than just a service provider.
    .quote
      %h3 One Product Owner to Rule Them All
      %p
        "When working with us, there’s only one product owner.  There can be a check signer that differs, but in our process, we only allow for one PO in our process"</p>
      %h3 Recognize Early on Whether You Make a Good Product Owner
      %span Jonathan & TargetGMAT
  .chapter
    %h2 rootstrap
    %p
      Rootstrap is a highly-focused product workshop that delivers a detailed product blueprint for how to execute on your idea from end to end. We start with a research phase where we analyze your industry, current market trends, successes, failures, etc. which serves as the basis for our kick off session.  During the kick off, we'll do a deep drive, evaluate all findings and opportunities and determine a product course. From there, our team will break and begin crafting brand elements and/or wireframing primary user flows depending on the current state of the product. We then review the wireframes as a team to fill in any gaps and flesh out the details. Our team will then incorporate all feedback into the flows and create an initial visual treatment.  Lastly, we provide feature backlog that answers the questions of how long and how much.  We work with you to groom that backlog against your budget.
    %h3 I know exactly what I want and I want to jump right into development.
    %p
      Starting this year, we’ve made Rootstrap a requirement in order to engage with our development team on custom development projects. That reason is simple: it’s a first step that is often overlooked or sometimes completed skipped during the product development cycle in the traditional consulting model. With many agencies, they preach that the discovery / product inception phase is done, but more often than none it gets baked into the whole engagement so the incentives are no longer aligned to create the “Minimum Viable Product” but rather the maximum since that’s what good for the Consultant.
    %h3 This sounds interesting...How can I hear more?
    %p
      Most agencies don’t offer pre-development necessities like Rootstrap. It’s a vital process even if you decide not to engage our firm for the actual development. If you do, we offer a discount. We want to empower you, the product owner, to make the best decisions for your company whether that means hiring another development shop, finding a technical co-founder, or building out your own team. We’re happy to help you make those decisions on the first yard line with you after our two week engagement.
    %img{ src: image_path('rootstrap.jpg')}/
  .chapter
    %h2 Our philosophies
    %h3 Morale
    %p
      We get that running a business can be frustrating, but please respect everyone on the team as professionals. Think of us as your product doctors. You wouldn’t yell at the surgeon who is operating on you, right? Be kind to everyone on your product team.
    %h3 Compatibility
    %p
      This is the reason why Rootstrap is a requirement. It’s a chance to vet you and a chance for you to vet us and find out if we’re the right team for you.</p>
    %h3 Don’t get hung up on design
    %p
      Our philosophy is constructed of data-driven design. We don’t want you to get hung up on what your friends or family tell you because the truth is they will naturally be inclined to agree with whatever you say. Instead of fighting over red or blue, release the product, gather user feedback, and iterate. The users should always be the ones determining whether the button or navigation should be red or blue, not you.
    %h3 Don’t be afraid to release
    %p
      An MVP scope should typically be between 8-12 weeks. Release faster, gather data, and iterate – that’s the process, and it works. Software and tech are always evolving so you can’t be afraid to show your product to the public. It’s the only way to know whether you’re doing something right or something wrong
    %h3 Continuous Integration
    %p
      Putting a feature on the ‘nice to have’ list is not the same as striking it. We believe in building the core feature lists first (MVP), and then adding the ‘nice to haves’ for subsequent releases. The beauty of our process is that it allows you to re-prioritize features on a sprint by sprint basis.
  .chapter
    %h2 Neonroots´ Development Metodology and Framework
    %p
      At Neon Roots, we are inspired by the core values declared by the
      %a{href: "http://agilemanifesto.org/"} Agile Manifesto
      \.
    %p
      %strong Individuals and interactions
      over processes and tools
      %br/
      %strong Working software
      over comprehensive documentation
      %br/
      %strong Customer collaboration
      over contract negotiation
      %br/
      %strong Responding to change
      over following a plan
    %p
      Our development methodology and framework adheres to these values. By far, our experience has shown us that it is the most efficient and effective approach especially when you want to deploy constantly and rapidly. We prefer this lightweight methodology because it allows us to adapt and make calibrations easily.
    %p
      This is also based on our core belief on disruptive innovation. Any business who could not adapt and adapt fast will not survive. Adaptation under the traditional approach for software development such as Waterfall is hard because of its inherent characteristics.
    %p
      Some of the most appreciated agile characteristics by our clients are its transparency and its ability to allow frequent feedback.  The incremental approach to development also enables stakeholders  to catalyze value-driven goals while development is ongoing. Having the ability to visualize the product increments gives them the ability to see what’s really needed and valuable to their audience and business which is not always easy when they just depend on concepts.
    %p
      Software development is chaotic and is always susceptible to change. At NR, we do not resist these. Whether we like it or not, requirements are gonna change for several reasons. We believe they are the ingredients of a quality and valuable product. So we embrace them. But it’s not also a secret in the industry that these are the same ingredients that would cause projects to fail. So we have to find a way to tame this chaos. We use Scrum, a popular Agile Methodology to handle such chaos.
    %p
      Scrum is a framework for dealing with complex works such as software development. It is an iterative and incremental method using self-organizing, self-managing, cross-functional teams.  It is focused on delivering the highest business value in the shortest time by allowing frequent inspections and feedback. With Scrum, there is delivery of features early on the development process. Thereby minimizing if not eliminating mismatches between client’s expectations and the final product output. It also gives both the delivery team and the stakeholders, through the Product Owner, a sense of predictability through avoidance of major swings in the delivery. This allows both parties to manage their expectations relative to results, resources, schedules.
    %h3 Major roles in Scrum…
    %p
      There are three major roles who participate in Scrum -- the Product Owner, the Delivery Team and the ScrumMaster. These are whom we refer to as the pigs. Pigs are the people who have stakes in the project and are essential to its success or failure. But from time-time, chickens may also attend certain activities of Scrum. These are people who may have something to say but will have no direct participation in the activities of Scrum. Here is is a wikipedia entry on the
      %a{href: "http://en.wikipedia.org/wiki/The_Chicken_and_the_Pig"} Chicken and the Pig Fable
      if you wanna know more about this illustration.
    %h3 Product Owners
    %p
      One of the vital roles in the Scrum framework is that of the Product Owner. When you decide to partner and work with us, we would require you to appoint a Product Owner. The title shouldn’t  be confused with a stakeholder although he could be one. A Product Owner is someone who will providing the visionary guidance for the product or the project. As a Product Owner, you will be expected to adhere to the rules of Scrum. And as a Product Owner, you will share project management with the delivery team.
    %p
      If you are not familiar with the responsibilities of a Product Owner, no need to worry. As long as you are willing to learn and are willing to internalize the concepts around the role, we are more than willing to help you so you could play the role.
    %p
      A hint of warning though, the Product Owner role has a lot of deviation from the traditional roles of a Software Development Project Manager.  You have to be very recipient of these roles and rules which initially, may not make sense to you but we can assure you, are intended to serve the best interest of the product or the project.
    %p
      If you are interested in learning more about the role of a Product Owner, here is a short primer that would give you a basic understanding of your role, responsibilities, as well as what’s expected of you:
    %h3 The Delivery Team
    %p
      The Delivery Team is a cross-functional group of people who have all the necessary skills to deliver each product increment. During Sprint Planning, the Delivery Team negotiates with the Product Owner at the start of each Sprint on what to put into the Sprint Backlog - the artifact that contains a list of items that needs to be completed and delivered at the end of the Sprint. The team has complete autonomy on how to reach commitments made to the Product Owner. They are responsible for conducting a demonstration of a product increment. The delivery team shares project management with the Product Owner.
    %h3 The ScrumMaster
    %p
      Our ScrumMaster is a "servant leader" who helps the rest of the Scrum team follow the process. The ScrumMaster helps the Product Owner understand how to create and maintain the Product Backlog. The ScrumMaster also works with the Development Team to find and implement the technical practices needed to complete and deliver commitments at the end of each sprint. He removes impediments to the team’s progress. The ScrumMaster also facilitates meetings and always acts as a coach for the Delivery Team, helping it execute the Scrum process. The ScrumMaster is not a Project Manager.
    %h3 Our Development Process
    %p
      Our development process starts with project inception. Here we use Neon Roots' in-house service --
      %a{href: "http://rootstrap.it/"} Rootstrap
      , to establish a shared understanding by the Product Owner and the delivery team of the goals, requirements, target audience and path for the product development or project implementation.
    %p
      Our goal is to start with an eagle eye view of the envisioned product until we are able to zoom in to a level that’s more detailed. The idea is to have “just enough” information so we could initiate work at the soonest possible time. This way, we are able to avoid analysis paralysis.
    %p
      At
      %a{href: "http://rootstrap.it/"} Rootstrap
      , initial requirements, initial users/roles and initial architecture are envisioned and modeled. We will also provide estimates to aid in planning a release. For more on this see <Estimation coming soon>.
    %p
      %span Tip:
      The goal is NOT to create a complete and detailed documentation of the project but rather gain just enough information so the project could be started as soon as possible.
    %h3 Kick-off
    %p
      Before any sprint is executed, we do a formal kick-off to discuss items that are pertinent to the sprint execution. We will have a meet-and-greet between the Product Owner, the delivery team and the ScrumMaster. A brief review of the Sprint Roles, Sprint Activities and Artifacts is conducted. Sprint Activity schedules will also be set during the kick-off. Finally, the different development and collaboration tools are introduced.
    %p
      Here is an example of a <Kick-off Agenda>
    %h3 Sprint 0
    %p
      After the Kick-off, it’s time to execute the sprints. Our execution starts with Sprint 0. Here, our delivery team will set up their development environment and the different tools we use to help facilitate the different processes we undergo to complete and deliver a product.
    %p
      If necessary, we will also do spikes during Sprint 0. Spike is a story or a task that is aimed at answering questions rather than delivering a shippable product. We do this when presented with a requirement or a need whose complexity is hard to evaluate until an attempt to code it is done. This will also help us determine which path to take when there are several choices.
    %p
      %span Caution:
      Always spiking to ensure estimates are accurate or close. Mike Cohn, in his book User Stories Applied, states that there is a diminishing return on the accuracy of estimates as the amount of effort exerted on estimation is increased. In other words, spending more time estimating will not improve the accuracy of estimates by as much.
    %h3 Setup of development environment and other tools of the trade...
    %p
      %a{href: "https://www.heroku.com/"} Heroku
      \- our preferred cloud-application platform. This is where we create a staging and a production instance.
      %br/
      %a{href: "https://github.com/"} GitHub
      \- our preferred code repository and version control system
      %br/
      %a{href: "https://travis-ci.com/"} CI Travis
      \- our preferred continuous integration tool for testing and building our Apps.
      %br/
      %a{href: "https://codeclimate.com/"} Code Climate
      \- a hosted software metric analysis tool for checking code smell.
      %br/
      %a{href: "https://github.com/bbatsov/rubocop"} RuboCop
      \- a ruby code analyzer
      %br/
      %a{href: "https://developer.apple.com/xcode/"} XCode
      \- an IDE developed by Apple for software development in OS X and iOS
      %br/
      %a{href: "https://www.testflightapp.com/"} TestFlight
      \- a free platform for distributing beta and internal release iOS and Android applications over the air.
      %br/
      %a{href: "https://developer.apple.com/library/ios/documentation/IDEs/Conceptual/iOS_Simulator_Guide/Introduction/Introduction.html"} iOS Simulator
      \- a development tool that allows you to prototype and test builds. We use this to simulate several iOS and several versions of the iOS operating system..
      %br/
      %a{href: "http://appium.io/"} Appium
      \- an open source test automation framework for use with native and hybrid mobile Apps.
      %br/
      %a{href: "http://rails-bestpractices.com/"} RailsBestPractices
      \- An awesome ruby gem that helps us follow the best practices on rails projects, by detecting bad practices automatically.
      %br/
      %a{href: "http://www.jshint.com/"} JShint
      \- A javascript code smell detector, simple tool to detect issues and enforce best practices with your javascript code.
      %br/
      %a{href: "https://rubygems.org/gems/reek"} Reek
      \- A code smell detector for Ruby, helps us enforce the usage of best practices while ruby coding and make the code uniform and clean throw all the team members.
      %br/
      %a{href: "http://www.photoshop.com/"} Photoshop
      and
      %a{href: "http://www.adobe.com/products/illustrator.html"} Illustrator
      \- in addition to pen and paper, we use Adobe Photoshop and  Adobe Illustrator for UI/UX design. For more on UI/UX design, see <Link to design playbook by Brad and Mojo>
    %h3 Set up of collaboration tools...
    %p
      Our framework mandates close collaboration among all the major Scrum participants - the pigs.
      We have a distributed team so we rely heavily on collaborative tools. Part of the tools we set up before actual development starts are the following.
    .quote
      %a{href: "https://trello.com/"} Trello
      is our preferred tool in hosting our information radiator board
      %br/
      %a{href: "https://www.hipchat.com/"} HipChat
      is our preferred way send each product or project related notes, news, jokes and others.
      %br/
      %a{href: "http://www.google.com/hangouts/"} Google Hangout
      and
      %a{href: "http://www.skype.com/es/"} Skype
      are what we use to conduct the different Scrum activities.
      %br/
      %a{href: "https://drive.google.com"} Google Drive
      host our documents though not a lot of them. Again -- working software over comprehensive documentation.
      %br/
      %a{href: "http://bugherd.com/"} Bugherd
      \- is what we use for tracking and managing bugs and feedback
    %h3 Sprint
    %p
      As soon as Sprint 0 has been executed, we start with the first iteration. Here is snapshot of what a typical Sprint would look like.
    %h3 Sprint Planning
    %p
      The very first thing our delivery team will do is to ask the Product Owner if the Product Backlog is prioritized accordingly. After that the team selects stories which they move to the Sprint Backlog - a list of items that are committed to be completed and delivered at the end of the Sprint. As soon as the Product Owner agrees to the proposed commitment, the delivery team evaluates each of the items and tasks that are needed to complete these items are listed.
    %h3 Daily Stand-ups
    %p
      As part of our sprint plan execution, for 15 minutes each day until it’s time for Sprint Review, we do stand-ups. Here, each of our team members report to the team what they have done, what they’ll do next and also their impediments if they have any. It is a PROGRESS report; NOT a STATUS report. Again, this is a report made to the TEAM: NOT the Product Owner, not the ScrumMaster and definitely NOT to the stakeholders. The first purpose of this activity is to make everyone aware of each other’s assignment and its progress so they may know how it may affect theirs. Second, for the team to make each member accountable to his commitments especially if one’s work is dependent on the work of another member. Third, to inform the ScrumMaster of any member’s blockers that are preventing him from completing and delivering his commitments so may eliminate them. The Product Owner may or may not attend the stand-ups. And if he chooses to do so, he can only listen to the delivery team.
    %h3 Sprint Review
    %p
      After Sprint execution, a Sprint Review is conducted. Here, the Team conducts a live demonstration of a product increment. The Product Owner inspects the commitments made by the Team at the beginning of the Sprint and decides which ones are accepted and considered Done based on the acceptance criteria of the item and also the agreed upon definition of Done. If  the Product Owner deems a work incomplete or if he has other feedback, the item is put back to the Sprint Backlog and carried over to the next Sprint.
    %p
      We may also do a  ‘sneak peek’ at the end of a review. After making sure the backlog is still prioritized according to the vision of the Product Owner, we check in advance the items that may be worked for the following sprint.
    %h3 Backlog Grooming
    %p
      Another important activity in Scrum is the Backlog Grooming or Backlog Refinement. Here, the Product Owner, the Development Team and the ScrumMaster review the Product Backlog to make sure that it’s still prioritized and aligned with the vision. This activity provides the opportunity to remove, add and/or split User Stories and re-prioritize them if necessary. The Product Backlog can also be calibrated to align it with release plans.
    %h3 Sprint Retrospective
    %p
      After each Sprint, the Team conducts a Sprint Retrospective. During the Retrospective, the Team reflects on how they executed the Sprint and identify what went as well as what can be improved. The goal is to inspect their methods and adapt what worked for the next Sprints.
    %h3 Pre-Launch
    %p
      Before launching the App, we go through a list of items. These miscellaneous items are mostly related to the creation of necessary accounts, transfer of ownership and setup of production environment.
    %h3 Product Launch
    %p
      We always recommend to a by-invitation-beta release for due diligence.  After careful observation and feedback addressed, then a decision can be made to do a hard launch.
    %h3 Production
    %p
      Reinforcing our strong belief in a feedback mechanism, we also recommend that each released App is monitored and measured. So we strongly suggests the use of Analytics to track results, understand your audience, and continue to optimize the App based on value. See NeonRoots’
      %a{href: "http://www.neonroots.com/books/seo"} ‘The Digital Marketing Starter Guide’
      for more on Analytics.
    %h3 Maintenance
    %p
      At NeonRoots, we guarantee our work. And although we follow a rigorous Test Driven Development process, sometimes things may break. When this happens, we will provide technical support and maintenance. The type of support we provide may vary on a case by case basis since each product  or project is different. We also limit the duration of support we provide to compel the stakeholder to faithfully and aggressively put the product into use. In the end this benefits both parties.
    %h3 Code Quality and Testing
    %p
      At NeonRoots, we are very serious about Test Driven Development.  We use a plethora of tools and processes to ensure the quality of our code and the performance of our Apps.
    %p
      We use a coding convention which every team member agrees to. Each team member needs to revisit and agree to these conventions whenever we start a new project.
    .quote
      %p
        For Ruby we use this
        %a{href: "https://github.com/styleguide/ruby"} ruby style guide
        in addition, we also use automated code analysis tools such as reek, rails best practices and rubocop
        %br/
        For Javascript we use
        %a{href: "http://www.jslint.com/lint.html"} JSLint
        as our automated code analysis tool.
        %br/
        For SCSS here is an example of a guide we use.
        %br/
        For Objective C we use this
        %a{href: "https://github.com/NYTimes/objective-c-style-guide"} https://github.com/NYTimes/objective-c-style-guide
    %p
      We use
      %a{href: "https://codeclimate.com/"} Code Climate
      to check any code smell. CodeClimate is a hosted software metric analysis tool that helps us control technical debts. It helps us in identifying hotspots and also evaluate new approaches. Every incident reported is addressed before anyone can proceed and do another build. Speaking of builds, we use
      %a{href: "https://travis-ci.org/"} Travis CI
      , a hosted, distributed continuous integration software for testing and building projects.Yes we love green.
    %p
      For deploying Apps, we use
      %a{href: "https://www.heroku.com/"} Heroku
      as our cloud application platform. Every App is first pushed to a Staging site. This site is only accessible privately. This is where each product increment is tested and reviewed. Here, the team, the Product Owner and other stakeholders can play around with the App being built without fear of contaminating the live data.
    %p
      Depending on the release plan and when the Product Owner decides, we will push a green lighted version to the Production site. This site may be available to the public or to an invited network of people chosen by the Product Owner.
    %img{ src: image_path('codeclimate.jpg')}/
    %h3 Github
    %p
      For sharing and publishing our code, we use a hosting service called
      %a{href: "https://github.com/"} GitHub
      At the heart of GitHub is Git, a version control system that stores and manages code. This allows our developers to simultaneously work on a set of code without worrying about managing versions.
    %p
      Every copy of the code whether it be from a ‘trunk’ or a ‘branch’, when forked, worked on and changed should be checked-in through a ‘pull request’. Our entire team of developers are then engaged to volunteer and do a code review. This is on top of our official code reviewer. Only then can the new copy of the code be merged to the ‘master’  -- the production ready branch. Our communal belief is that the work of one individual at NeonRoots reflects on all of us. We are crazy about ensuring that everyone’s work meets the bar of quality set by the team.
    %p
      GitHub also has other features which we love. Among them, the issue tracking feature. This enables our team to collectively be on the watch over pertinent issues needed to be addressed.
    %h3 Languages we speak...
    %p
      For web-apps we use
      %a{href: "https://www.ruby-lang.org/"} Ruby
      An open source programming language with a focus on simplicity and productivity.
      %br/
      For iOS native apps we use
      %a{href: "https://developer.apple.com/library/mac/documentation/cocoa/conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html"} Objective-C
      %br/
      We also use phonegap as our framework for hybrid apps and these are usually written in JavaScript, HTML5 or CSS3.
      %br/
      We also like to work with
      %a{href: "http://sass-lang.com/"} Sass
      as our scripting language.
      %br/
      We also use
      %a{href: "http://compass-style.org/"} Compass
      , an open source CSS authoring framework.
    %h3 References
    %p
      We do not claim to be an all-knowing , infallible group of people. Although we try. However, we are smart enough to seek help when needed. So when we are confronted with a conundrum, we refer to groups and people whose philosophy and expertise are respected in the community. But we don’t just take their word for it’s worth, we also validate them to make sure they are well suited to address the issue at hand.
  .chapter
    %p
      what's Next?
    .quote
      %span Setup Development Environment
      %span Setup Information Radiator (Trello Board)
      %span Initial Backlog Refinement
      %br/
      %br/
      %span Execute the first Sprint!!!
    %h3 Short Primer on the Product Owner
    %h3 The product Owner ...
    %p
      As the Product Owner, you play a very vital role for the success of the project. Here are some of the responsibilities you are expected to carry out. We expect you to:
    %span - provide the overall vision of the product owned;
    %br/
    %span - understand the needs of target users or audience and business goals;
    %br/
    %span - bridge the delivery team and the stakeholders;
    %br/
    %span - act as the go-to person for information on the project domain;
    %br/
    %span - provide timely information and decisions when sought by the delivery team;
    %br/
    %span - author and maintain the Product Backlog;
    %br/
    %span - educate stakeholders in the development process; and
    %br/
    %span - monitor the progress and continuously make adjustments based on larger strategic objective.
    %h3 During Project Inception (Rootstrap Link)...
    %p
      During project inception (Rootstrap), initial requirements, initial users/roles and initial architecture are envisioned and modeled. As the Product Owner, you are an active participant in these endeavors. We expect you to help the delivery team understand the scope of what’s to be accomplished. In addition, we expect you to identify the different roles or users of the product and help create the User Model. You are also expected to describe how users will interact with the product and help create the UI Model (wireframes). We expect you to work with us in writing User Stories and help create the Product Backlog. We are also expecting you to help in preparing a Release Plan.
    %h3 The Sprint...
    %p
      As the Product Owner, you are expected to provide visionary guidance to the delivery team during the development.
    %h3 Sprint Planning
    %p
      During Sprint Planning, you are expected to provide or define the Sprint goal. We expect you to collaborate with the delivery team to achieve this goal. You are to approve the User Stories being committed by the Delivery Team to the Sprint Backlog. We expect you to provide  insights and information needed when Delivery Team is analyzing a User Story. You are expected to provide clarification to the acceptance and testing criteria. You will also be setting the boundaries of each user story by enumerating confirmation and constraints.
    %h3 Stand-Ups
    %p
      As the Product Owner, you are welcomed to attend Stand-ups if you so decide. Your participation however is to listen and see the progress of the delivery team.  In addition, you are also expected to provide clarifications when sought by the delivery team. You are also expected to help in getting rid of impediments if you are able to do so.
    %p
      %strong> Note
      \: The Product Owner is also expected to answer questions from the Delivery Team and provide solutions to any problems they may have at any time during the Sprint.
    %h3 Sprint Review
    %p
      During Sprint Review, the Product Owner is responsible for accepting or rejecting the work delivered during Sprint Review. You are also expected to provide on the work delivered. When stakeholders are present, their feedback should be affirmed by you. You make the decision whether requests by the stakeholders shall be added to the Product Backlog.</p>
    %h3 Backlog Refinement/Grooming
    %p
      As the Product Owner, you are responsible for ensuring that the Product Backlog is still prioritized accordingly after every Sprint.  It is also strongly recommended that prioritization should be based on the value the stories contribute to the App. You may also add, delete or split User Stories if needed. Always bear in mind however that such changes will have implications either to the schedule, the team composition and even the architecture.
    %h3 Sprint Retrospective
    %p
      The retrospective is conducted so the delivery team could inspect and adjust their process and their tools. As the Product Owner, you may attend retrospectives when deemed necessary by the delivery team. Especially when the discussion hinges on your responsibilities. You are expected to collaborate with the delivery team to serve the best interest of the App.
    %h3 Others
    %h3 Terminate the Sprint
    %p
      As the Product Owner, you have the sole authority  to terminate a Sprint. If the delivery team is in the middle of a Sprint and you realize that User Stories being worked on no longer applies you can decide to terminate the Sprint.
    %h3 Release/Launch
    %p
      As the Product Owner, you are  responsible for launching the product. You are responsible for coordinating the different activities (launch/release items) for the launch or release.
    %h3 After Launching the App...
    %p
      After the App is launched, you may also carry out the responsibilities of a Product Manager. Following are some of what’s expected of you if such is the case.
    %span - lead in marketing the App;
    %br/
    %span - monitor product performance;
    %br/
    %span - define and monitor operational metrics;
    %br/
    %span - monitor feedback and inquiries; and
    %br/
    %span - plan the optimization and next release
    %br/
  .chapter
    %h2 BILLING AND BUDGETS
    %h3 Budgets
    %p
      Often times this is a very weird issue for consultants and clients to deal with. It’s like a game of poker or rather this partial information game that becomes more of an impediment than anything.
      %br/
      The truth of the matter is….We need to know a clients budget. Why? Because it sets budgetary expectations on what your burn is and expected burn might be. If your product involves other operational costs outside of just tech, it’s important for us to know those upfront. We’re not trying to get your $20K number and then come back with a $19,999 proposal. That’s not how we work.
    %h3 Payment Integration
    %p
      For payment integration on your app, we recommend using Stripe. Their rates are very (2.9%) competitive and it’s easy to integrate with many things.
    %h3 Fulfillment
    %p
      If your product requires physical product fulfillment, we recommend
      %a{href: "http://services.amazon.com/content/fulfillment-by-amazon.htm"} Amazon Fulfillment Services
      They have white label opportunities as well.
    %h3 Billing
    %p
      Our free structure is pretty simple – you’re paying per week for a dedicated team that sprint towards a set of goals each week in order to deliver.  Billing weekly allows for flexibility and re-prioritization of tasks, which is essential for any product development cycle.  Depending on the project size, we’ll typically get a small upfront payment and then bill each week.
    .quote
      %h3 What is weekly billing and how does it work?
      %p
        "We bill on a per sprint basis. All the activities like sprint planning, demo, stand-ups, and stakeholder meetings are packaged into this so you don’t have to worry about counting hours, etc.  It also allows us for more predictability in both accountability and production."
      %span Brian Laks, Share your Shares.
    %h3 Invoicing
    %p
      Invoicing will always come from accounting@neonroots.com.  Depending on the project and the terms negotiated, the due date will be listed on the invoice.  We don’t believe in getting hostile or litigious when we’re not paid on time, it simply kills our focus on building your project.  For us, late payments mean we stop working.
  .chapter
    %h2 WHAT ELSE DOES NEON ROOTS OFFER?
    %h3 Content Creation / Animation
    %p
      Aside from the design  development, we take great pride in producing all of our own original content in-house. We have access to some of the best equipment in the world, including a DaVinci coloring bay, sound studio, and of course camera equipment. We know how to work a RED, let’s put it that way.  We do everything from storyboarding, script development to post-production. We also have a great team of talented animators. To request a quote, please contact
      %a{href: "mailto:hello@neonroots.com"} hello@neonroots.com
    %img{ src: image_path('radical.jpg')}/
    %h3 Cross-Browser Support/Compatibility
    %p
      We cover the important ones; chrome, FF, safari. We limit IE up to 6.
    %h3 HTML5 & PhoneGap
    %p
      We are big supporters of HTML5 and like to use the frameworks around it whenever possible (e.g. PhoneGap, Rubymotion). Its agility and power allow you to develop quicker and cheaper without the hassle of managing separate code bases and requiring separate development ops teams (iOS, Android, Windows, etc).
    %p
      That said, we always choose the appropriate technology for the problem we’re solving. We’ve definitely put a lot of the rumors to rest in terms of the “snappiness” or “crisp” experience hurdles on HTML5, but we spec out the requirements before pairing the technology solution. If the requirements require native iOS or native Android development, we have no problem developing with those languages and tools.
    %img{ src: image_path('html5.jpg')}/
    %h3 Training
    %p
      We’ve training product owners in scrum / agile methodology to learning Ruby on Rails. We offer tailored courses to fit your goals. Depending on what you’re looking to achieve, we can help you in various ways.
    .quote
      %h3 We don’t train juniors on the clients dime.
      %p
        "A  Jr developer that we have hired has gone through a complete product lifecycle (end to end ) before ever touching client work. He or She is familiar with our process, tools, experience, and libraries during this training period."
      %span Zachary Kahn, Talentboom, on JR devs and past experiences
    %h3 Pro-Bono Non-Profit Work
    %p
      Each year, we choose a handful of open-source projects, events, and projects that we think we can be great assets to. Check out a few of things done these past couple years that the members of the Neon Roots team contributed to in the form of sponsorships or pro-bono work.
    .quote
      %h3 CRS: Country Radio Seminar
      %p
        The Country Radio Seminar is an annual event that brings in some of the biggest names on the country music charts to celebrate the growth of the industry and to enhance the relationship between country radio and country music.  We were honored to be a part of the 2013 CRS by creating a custom Social Media Command Center for the event
    .quote
      %h3 Waza
      %p
        Waza is Heroku’s one-day developer event in San Francisco celebrating the craft and creative process of software development. The gathering features technical sessions, interactive exhibits, and keynote addresses from some of the industry’s top innovators. Neon Roots designed and developed the event registration page for Waza. By following a mobile first approach, we created a responsive web and mobile registration experience that emphasized elegance and simplicity.
    .quote
      %h3 Geekie Awards
      %p
        Neon Roots, in collaboration with Soulcake and Nedopak Productions, created a customized Augmented Reality game for the awards event.  With both 2D and 3D displays, players must save the Earth and the Geekie Awards by destroying a slew of flying robots.  “Geekie Bots” is built on the iOS platform and works with or without a target marker so even though the awards are over, there are still robots to take down!
    .quote
      %h3 LAPL Archive
      %p
        In the fall of 2013, Neon Roots teamed with the AR storytelling and Journalism class at USC Annenberg to work on a semester-long project to make the wealth of information available at the LA Public Library interactive and accessible to a new generation.  Through the latest augmented reality technology they planned to promote community and expand art appreciation through an iOS app.
    %h3 Hosting
    %p
      We recommend Heroku which is powered by AWS. They are the industry leader. For staging (development server ) there is no cost. For product ( live ) site, expect to pay $25/up. Scaling is super easy which is why we love Heroku.
  .chapter
    %h2 THE INNER WORKINGS OF NEON ROOTS
    %h3 Office Hrs
    %p
      Our official office hours are from 8am to 6pm Pacific time. That’s also consistent with our LATAM office (9am UYT to 6pm UYT). Since Uruguay is only 4 hours ahead during daylight savings, the team works with our schedule. For example, stand-ups are usually around 8am (Pacific) 2pm UYT.
    %h3 Average turn-over?
    %p
      Since starting the company, we’ve had only 1 individual  leave for personal reasons, outside work. We don’t run our ship like a restaurant. This kitchen - front of house and back of house is a family. Everyone has been on the team since Day 1. Just ask them how they like working at Neon Roots.
    %img{ src: image_path('getshitdone.jpg')}/
    %h3 PTO
    %p
      We don’t believe in just focusing work day in day out. PTO is a required paid day where every team member incl. management has to do something outdoor. No computers, no smartphones (airplane mode) and you have to engage in something that you love to do and are passion about. Everyone on the team casts 3 votes and a winner and prize is picked each month.
    .quote
      %p
        "The thing I love about PTO is to have the opportunity to force yourself to go offline for an entire day and do the kinds of things that you love and you always postpone, like building a mini-greenhouse, learn a new hobby, or just take your beloved pet for a well deserved walk under the shiny sun, unless it  is rainy (as it always happens to me :P."
      %span Oscar Siniscalchi, Neon Root Developer
    %img{ src: image_path('dontdisturb.png')}/
    %h3 Annual Retreat - Casa Los Jazmines
    %p
      Welcome to everyone, including clients. experience amazing bonding retreat and cooking by el tera. At Casa Los Jazmines, we take the beautiful Spring time in Uruguay to unplug and bond with our team for one week. We focus on high-level building strategies for our business but have a lot fun too :)
    %img{ src: image_path('losjasmines.jpg')}/
    %img{ src: image_path('firstlosjasmines.jpg')}/
    %span Our Very First Annual Retreat: February 2011
    %h3 Social Media
    %p
      We always appreciate a shout out. Like us on Facebook.  Follow us on
      %a{href: "https://twitter.com/NeonRoots"} Twitter
      Or keep us with our
      %a{href: "http://blog.neonroots.com/"} Blog
    %h3 References
    %p
      Available upon requests. But you can check out case studies for
      %a{href: "http://www.neonroots.com/case-study/concord-music-group"} Concord Music Group
      and
      %a{href: "http://www.neonroots.com/case-study/stylus"} Stylus

