header {
  width: 100%;
  height: 640px;
  overflow: hidden;
  position: relative;

  .menu-link {
    position: fixed;
    top: 25px;
    left: 65%;
    @extend .clearfix;
    z-index: 999;

    &:hover {
      cursor: pointer;
    }//hover

    .iconlink {
      display: inline-block;
      float: left;
      position: relative;

      .buton-line {
        display: block;
        border: 1.5px solid white;
        width: 34px;
        width: 25px;
        margin: 5px;
      }//buton line
    }//nav buton

    p.nav {
      display: inline-block;
      color: white;
      font-size: 20px;
      font-family: $font-relay-bold;
      text-transform: uppercase;
      margin: 2px 10px;
      position: relative;
      float: left;
    }//p

    &.compact {
      left: auto;
      right: 0;

      .iconlink {
        background-color: black;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }//

        .buton-line {
          border: 1.5px solid white;
        }//buton line
      }//oconlik

      p.nav {
        display: none;
      }//nav
    }// show
  }//menu-link

  img {
    width: 100%;
    position: relative;
    min-width: 1550px;
  }//img

  .title-general {
    position: absolute;
    top: 100px;
    left: 20%;
    @extend .clearfix;
    width: 345px;

    .log {
      height: 80px;
      width: 80px;
      background-color: $base-color-1;
      border-radius: 40px;
      float: left;
      display: inline-block;

      .icon-book {
        font-size: 45px;
        color: white;
        margin-left: 21px;
        line-height: 80px;
      }// icon book
    }//log

    .icon-nrlogo {
      font-size: 40px;
      color: $base-color-1;
      float: left;
      margin-left: 20px;
      margin-top: 20px;
    }// nrlog

    p {
      font-family: $font-noto-italic;
      color: white;
      font-size: 38px;
      display: block;
      float: left;
      margin: 20px 0 0 10px;
      font-style: italic;
    }//p
  }//general title

  .presentation {
    position: absolute;
    left: 20%;
    top: 270px;

    p {
      font-family: $font-relay-bold;
      font-size: 38px;
      color: white;
    }//p
  }// presentation

  @include respond-to(mobile) {

    a.menu-link {
      width: 100%;
      left: 10%;
    }

    .title-general {
      top: 75px;
      left: 20px;

      .log {
        height: 40px;
        width: 40px;
        margin-top: 20px;

        .icon-book {
          font-size: 25px;
          margin-left: 10px;
          line-height: 40px;
        }//book icon
      }//log
      .icon-nrlogo {
        margin-left: 0px;
      }//nrlogo
      p {
        margin-top: 20px;
        margin-left: 5px;
      }//p
    }//title general
    .presentation {
      left: 10px;
      margin-right: 10px;
      text-align: center;

      p {
        font-size: 25px;
      }//p
    }//presentation
  }//mobile
}//header

.chapter {
  width: 100%;
  padding-bottom: 55px;
  display: inline-block;
  border-bottom: 1px solid #e8e8e8;
  overflow-x: hidden;

  span {
    font-family: $font-notoserif;
    font-size: 20px;
    margin-top: 30px;
    color: #393939;
    line-height: 28px;
  }//span

  h2 {
    font-family: $font-raleway-exbold;
    font-size: 42px;
    color: $titles-color;
    text-transform: uppercase;
    margin-top: 55px;
    word-wrap: break-word;
  }//h2

  p {
    font-family: $font-notoserif;
    font-size: 20px;
    margin-top: 30px;
    color: $paragraf-color;
    line-height: 28px;
  }//p

  p {
    #blog-img {
      width: 100%;
      min-height: 300px;
    }//blog-img
  }

  .quote {
    padding-left: 20px;
    border-left: 2px solid $quote-separator-color;
    font-size: 18px;
    font-family: $font-noto-italic;
    color: $quote-font-color;

    img {
      width: 100%;
      margin-top: 20px;
    }

    span {
      font-family: $font-relay-bold;
      text-transform: uppercase;
      margin-top: 10px;
      display: block;
    }//span

    &.oscar {margin-top: 40px;}
  }//cuote

  h3 {
    font-size: 20;
    font-family: $font-relay-bold;
    margin-top: 70px;
  }//h3

  a {
    color: #e44575;
    margin-left: 5px;
    text-decoration: underline;
  }//a
}//chapter

.delivery {
  width: calc(100% - 38px);
  position: relative;
  margin-left: 38px;

  &:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 120px;
    bottom: 0;
    left: 59px;
    border-left: 2px dashed #3f709e;
  }//bf

  &:before {
    content:"";
    position: absolute;
    z-index: -1;
    top: 60px;
    left: 118px;
    right: 47%;
    border-top: 2px dashed #3f709e;
  }//af

  @include respond-to(mobile) {
    &:before { display: none;}
    .inside {
      .small-circle { float: none;}
      .content {
        float: none;
        width: 100%;
        background: white;
      }
    }
  }
}//deliver

.inside {
  @include clearfix;


  .small-circle {
    width: 118px;
    @include border-radius(100%);
    border: 5px solid #3f709e;
    padding: 15px;
    float: left;
    display: inline-block;

    img { width: 100%; }
  }//small circle

  .content {
    float: right;
    margin: 53px 0;
    width: 45%;

    h3 {
      font-family: $font-relay-bold;
      margin-top: 0;
      color: #3f709e;
      position: relative;

      &:before {
        content: "";
        height: 10px;
        width: 10px;
        @include border-radius(100%);
        border: 2px solid #3f709e;
        position: absolute;
        left: -13px;
        top: 4px;
      }
    }//h3

    ul {
      li {
        color: #717171;
        font-family: $font-relay-bold;
        line-height: 20px;
        position: relative;

        &:before {
          content: "";
          height: 10px;
          width: 10px;
          @include border-radius(100%);
          background-color: #3f709e;
          position: absolute;
          left: -13px;
          top: 4px;
        }
      }
    }
  }//content
}
.expectations {
  position: relative;
  .inside {
    img { width: 200px; }
    .content {
      width: calc(45% - 15px);
      margin-top: 0;

      h3 {
        color: #cb4338;
        &:before {
          border: 2px solid #cb4338;
          left: -23px;
          top: 2px;
        }
      }
      ul {
        li {
          &:before {
            background-color: #cb4338;
          }//before
        }
      }//ul
    }//content
  }//inside

  &:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 120px;
    bottom: 0;
    left: 100px;
    border-left: 2px dashed #cb4338;
  }//bf

  &:before {
    content:"";
    position: absolute;
    z-index: -1;
    top: 6px;
    left: 198px;
    right: 46%;
    border-top: 2px dashed #cb4338;
    border-left: 2px dashed #cb4338;
    height: 108px;
  }//af

  @include respond-to(mobile) {
    &:before { display: none;}
    .inside {
      .small-circle { float: none;}
      .content {
        margin-left: 38px;
        margin-top: 40px;
        float: none;
        width: 100%;
        background: white;
      }
    }
  }
}//expectations

.scrum-agile {
  position: relative;
  width: calc(100% - 38px);
  margin-left: 38px;

  .inside {
    .small-circle {
      border: 5px solid #8eb34c;
    }
    .content {
      h3 {
        color: #8eb34c;

        &:before {
          border: 2px solid #8eb34c;
        }
      }

      .double-ul {
        @extend .l-2c;
        width: 100%;

        [class^="c-"] {
          width: 45%;
          margin-bottom: 20px;

          h4 {
            color: #717171;
            font-family: $font-relay-bold;
            line-height: 20px;
          }//h4

          ul {
            li {
              &:before {
                background-color: #8eb34c;
              }//before
            }//li
          }//ul
        }// all cols
      }
    }//content
  }//inside

  &:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 120px;
    bottom: 0;
    left: 59px;
    border-left: 2px dashed #8eb34c;
  }//bf

  &:before {
    content:"";
    position: absolute;
    z-index: -1;
    top: 60px;
    left: 118px;
    right: 47%;
    border-top: 2px dashed #8eb34c;
  }//af

  @include respond-to(mobile) {
    &:before { display: none;}
    .inside {
      .small-circle { float: none;}
      .content {
        float: none;
        width: 100%;
        background: white;

        .double-ul {
          ul {
            background: white;
          }
        }
      }
    }
  }
}//scrum agile

.planning {
  position: relative;
  width: calc(100% - 38px);
  margin-left: 38px;

  .inside {
    .small-circle {
      border: 5px solid #63a6dd;
    }//small circle

    .content {
      h3 {
        color: #63a6dd;
        &:before {
          border: 2px solid #63a6dd;
        }
      }
      ul {
        li {
          &:before {
            background-color: #63a6dd;
          }//before
        }//li
      }//ul
    }//content
  }//inside

  &:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 120px;
    bottom: 0;
    left: 59px;
    border-left: 2px dashed #63a6dd;
  }//bf

  &:before {
    content:"";
    position: absolute;
    z-index: -1;
    top: 60px;
    left: 118px;
    right: 47%;
    border-top: 2px dashed #63a6dd;
  }//af

  @include respond-to(mobile) {
    &:before { display: none;}
    .inside {
      .small-circle { float: none;}
      .content {
        float: none;
        width: 100%;
        background: white;
      }
    }
  }
}//planning

.tools {
  position: relative;
  width: calc(100% - 38px);
  margin-left: 38px;

  .inside {
    .small-circle {
      border: 5px solid #da852f;
    }//small circle

    .content {
      h3 {
        color: #da852f;

        &:before {
          border: 2px solid #da852f;
        }
      }

      h4 {
        color: #717171;
        font-family: $font-relay-bold;
        line-height: 20px;
        margin: 20px 0 10px;
      }//h4

      ul {
        li {
          &:before {
            background-color: #da852f;
          }//before
        }//li
      }//ul
    }//content
  }//inside

  &:before {
    content:"";
    position: absolute;
    z-index: -1;
    top: 60px;
    left: 118px;
    right: 47%;
    border-top: 2px dashed #da852f;
  }//af

  @include respond-to(mobile) {
    &:before { display: none;}
    .inside {
      .small-circle { float: none;}
      .content {
        margin-top: 10px;
        float: none;
        width: 100%;
        background: white;
      }
    }
  }
}//tools
.container {
  position: relative;
}
#menu.panel {
  padding-top: 65px;
  position: fixed;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #1f1f1f;
  overflow-y: scroll;
  padding-left: 10px;
  margin-bottom: 20px;

  ul {
    li {
      margin-left: 20px;
      display: block;
      margin-bottom: 20px;
      a {
        display: block;
        font-family: $font-relay-bold;
        font-size: 20px;
        text-transform: uppercase;
        color: white;
        margin-bottom: 5px;
        cursor: pointer;

        &.sub {
          color: #7A7A7A;
        }//sub
      }//a
    }//li
  }//ul
}//menu.panel

#nrfooter {
  height: 75px;
  width: 100%;
  background-color: $footer-color;
  position: relative;
  bottom: 0px;
  @extend .clearfix;

  p {
    font-family: $font-ralewaysemibold;
    color: #5f5f5f;
    font-size: 14px;
    display: inline-block;
    margin-top: 30px;
    margin-left: 26%;
    float: left;

    a {
      font-family: $font-ralewaysemibold;
      color: $footer-buttons-color;
      font-size: 14px;
    }//a
  }//p

  .buttons-icons {
    display: inline-block;
    @extend .clearfix;
    margin: 30px 26% 0 0;
    float: right;

    .circle, .icon-triangle, .icon-x, .icon-square, .icon-hex {
      float: left;
      display: inline-block;
      margin-left: 5px;
      color: $footer-buttons-color;
    }//icons

    .circle {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      border: 2px solid $footer-buttons-color;
    }//circle

    .icon-triangle {
      font-size: 35px;
      line-height: 22px;
      width: 27px;
    }//triangle

    .icon-square {
      font-size: 40px;
      line-height: 23px;
      width: 40px;
      margin-left: 10px;
    }//square

    .icon-hex {
      font-size: 24px;
      line-height: 23px;
    }//hex

    .icon-x {
      font-size: 40px;
      line-height: 24px;
      width: 40px;
    }//x
  }//buttons

  @include respond-to(mobile) {
    height: auto;
    padding-bottom: 20px;

    p {
      display: block;
      margin-left: 0;
      float: none;
      text-align: center;
    }//p
  }//mobile
}// footer
